* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {

    width: 25%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

.io {

    text-align: right;
    font-size: 50px;
    min-height: 60px;
    background-color: lightgray;
    border-radius: 10px;
    flex: 1;

}

.btn {

    font-size: 30px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.btnContainer {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

#btns {
    background-color: lightcyan;
    border-radius: 10px;
    padding: 5px;
}

#operators {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    padding: 5px;
}

#ec {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 5px;
}

